@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* scroll-behavior: smooth; */
}

a {
  color: rgb(226, 226, 226);
  text-decoration: none;
}

li {
  list-style: none;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #001f3f;
}
